@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@700&display=swap');

body {
    --color1: mintcream;
    --color2: #000;
    --color3: aquamarine;
    --color4: plum;
    height: 100%;
    width: 100%;
    position: fixed;
    display: grid;
    grid-template-rows: 20vmin 50vmin 30vmin;
    font-family: 'Roboto Mono', monospace;
    font-size: 4vmin;
    font-weight: bolder;
    background-color: var(--color3);
    text-align: center;
    text-transform: lowercase;
}

header {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    align-content: center;
    border-bottom: 1vmin solid var(--color3);
}

main {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: stretch;
    justify-content: stretch;
    font-size: 25vmin;
}

footer {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    justify-content: stretch;
    align-items: stretch;
    border-top: 1vmin solid var(--color3);
    border-bottom: 0;
}

div {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content:center;
    align-items: center;
}

.score-two {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: 1fr 2fr;
    justify-content: stretch;
    align-items: stretch;
}

.score-one .b, .score-two .b {
    font-size: 15vmin;
}

.score-two .a {
    font-size: 3vmin;
}

.score-one {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: 2fr 1fr;
    justify-content: stretch;
    align-items: stretch;
    border-left: 1vmin solid var(--color3);
    border-right: 1vmin solid var(--color3);
}

input {
    width: 100%;
    height: 100%;
    color: inherit;
    background: inherit;
    font-family: inherit;
    font-size: inherit;
    text-align: center;
    text-transform: uppercase;
    border: 0;
    caret-color: transparent;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number]{
    -moz-appearance: textfield;
}

input:hover {
    background: var(--color3);
    color: var(--color1);
}

input:focus, button:active {
    outline: none;
    background: var(--color3);
    color: var(--color4);
}
::placeholder {
    opacity: .3;
}
button {
    width: 100%;
    height: 100%;
    color: inherit;
    background: inherit;
    font-family: inherit;
    font-size: inherit;
    text-transform: uppercase;
    border: 0;
    margin: 0;
}

button:hover {
    background: aquamarine;
}

button:active {
    background: aquamarine;
}

button:disabled {
    display: none;
}

.hidden {
    display: none;
}

.a {
    color: var(--color1);
    background-color: var(--color2);
}

.b {
    color: var(--color4);
    background-color: var(--color1);
}

.c {
    color: var(--color1);
    background-color: var(--color2);
}
