
body {
    --color1: rgba(255, 255, 255, 1);
    --color2: #eee;
    --shadow: 15px 5px 15px -12px rgba(0,0,0,0.45);
    --gutter: 50px;
    --header-height: 200px;
    --footer-height: 50px;
    height: 100%;
    width: 100%;
    min-width: 500px;
    font-family: 'Titillium Web', sans-serif;
    font-size: 18px;
    font-size: 1.5vw;
    background-color: var(--color2);
}

header {
    font-size: 18px;
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    align-items: center;
    text-align: center;
    padding: 1rem 3rem;
    position: fixed;
    width: 100%;
    min-height: var(--header-height);
    background-color: var(--color1);
    box-shadow: var(--shadow);
    border-top: .5px solid #ccc;
}

main {
    background-color: var(--color1);
    padding: var(--gutter);
    padding-top: calc(var(--header-height) + 60px);
    align-self: center;
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    justify-content: center;
    background: ghostwhite;
}

section {
    background-color: var(--color1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer {
    width: 100%;
    height: var(--footer-height);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color2);
    border-top: .5px solid #ccc;
    padding: calc(var(--gutter) / 2);
    font-size: 1rem;
    word-spacing: .2rem;
}

h2 {
    font-size: 1.8rem;
    font-weight: bold;
}

a {
    color: blue;
}

a:active {
    color: aquamarine;

}

a:visited {
    color: cornflowerblue;
}


button {
    padding: .5rem 2rem;
    /* margin: 1.5rem 0; */
    background: #eee;
    box-shadow: .2rem .2rem .1rem aliceblue;
    border: .5px solid #ccc;
    border-radius: 2rem;
    font-size: .9rem;
}

button:hover {
    box-shadow: .5rem .5rem .5rem aliceblue;
    transform: translate(.05rem, .05rem);
}

button:active {
    background: aquamarine;
}

.card {
    display: flex;
    flex-direction: column;
    background-color: gainsboro;
    border: 0;
    border-top-left-radius: 2.5rem;
    border-bottom-left-radius: .5rem;
    border-top-right-radius: .5rem;
    border-bottom-right-radius: .5rem;
    padding: 1rem;
    width: 300px;
    margin: .5rem;
    box-shadow: .4rem .4rem .3rem aliceblue;
    break-inside: avoid;}

img {
    display: block;
    max-width: 100%;
    border-top-left-radius: 2rem;
    border-top-right-radius: .2rem;
    overflow: hidden;
    border-top: .5px solid #bbb;
    border-left: .5px solid #bbb;
    border-right: .5px solid #bbb;
}

.card p {
    padding: 1rem;
    background-color:whitesmoke;
    border-left: .5px solid #bbb;
    border-right: .5px solid #bbb;
    border-bottom: .5px solid #bbb;
    align-self: flex-end;
    font-size: .8rem;
    line-height: 1.1rem;
    text-indent: 1rem;
    border-bottom-left-radius: .2rem;
    border-bottom-right-radius: .2rem;
}

strong {
    font-weight: bolder;
    color: midnightblue;
}

#result {
    background: #eee;
    border-radius: 2rem;
    border: .5px solid #ccc;
    padding: .4rem 2rem;
    margin: .4rem 0;
}

.hidden {
    display: none;
}

li {
    display: inline;
}

div {
    padding: 10px;
}